@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font weight utilities */
.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.datatable-info {
    /* Your custom styles */
    font-size: 14px;
    color: #0f111c;
    margin-right: 15px;
    /* etc. */
}

.datatable-pagination {
    font-size: 14px;
}

.dt-layout-full {
    border: 1px solid rgba(30, 30, 30, 0.15);
    border-radius: 10px;
    margin-bottom: 15px;
}

.dt-empty {
    text-align: center;
    opacity: 80%;
    padding-inline: '100px';
    padding-block: 6px;
    font-size: 14px;
}

#myTable_info, #pendingTable_info, #selectedTable_info, #ongoingTable_info  {
    font-size: 14px;
    counter-reset: #0f111c;
    opacity: 80%;
    margin-bottom: 10px;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dt-paging {
    border-radius: 10px;
    border: solid rgba(30, 30, 30, 0.15) 1px;
}

.dt-paging button {
    /* text color text size */
    font-size: 14px;
    opacity: 0.87;
}

.dt-paging button:hover {
    /* text color text size */
    font-size: 14px;
    opacity: 0.87;
    background-color: #D9E2F5;
}

.dt-paging .dt-paging-button {
    width: 38px;
    height: 38px;
    border-left: solid rgba(30, 30, 30, 0.15) 1px;
}

.dt-paging .first {
    width: 38px;
    border: none
}

.dt-paging .previous {
    width: 38px;
    border-left: 1px solid rgba(30, 30, 30, 0.15)
}

.dt-paging .next {
    width: 38px;
    border-left: solid rgba(30, 30, 30, 0.15) 1px;
}

.dt-paging .current {
    background-color: #D9E2F5;
}