@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font weight utilities */
.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.datatable-info {
    /* Your custom styles */
    font-size: 14px;
    color: #0f111c;
    margin-right: 15px;
    /* etc. */
}

.datatable-pagination {
    font-size: 14px;
}

.dt-layout-full {
    border: 1px solid rgba(30, 30, 30, 0.15);
    border-radius: 10px;
    margin-bottom: 15px;
}

#myTable_info {
    font-size: 14px;
    counter-reset: #0f111c;
    opacity: 80%;
    margin-bottom: 10px;
}
